<style>

	.homepage-container {
		margin: auto auto;		
		width: 1100px;
		height: 100%;
	}
	.small-logo {		
		background-image: url("/img/discoSmallLogo.png");				
		background-size:180px;
		background-repeat: none;
		height:63px;
		width:180px;
		float:left;
	}
	.top-right-container{
		width: 1100px; 
		height: 120px;	
		margin-top: 10px;	
	}
	.homepage-link {
		font-family: arial;
		font-weight: bold;
		font-size: 18px;
		color: rgb(22,22,22) !important;
		text-decoration:none !important;
		opacity: .4;		
		margin-left: 25px;
		float: right;
		line-height:63px;	
	}
	a:hover {		
		opacity: .9;
	}
	.me {
		float:right;					
		margin-top: auto;
		margin-bottom: auto;
	}
	.me .person-picture {
		width: 30px;
		height: 30px;
		border-radius: 15px;
		margin-top: 16px;
		margin-right:10px;
		border: 1px solid #fff;
	}
	.me .person-name {		
		line-height:63px;
		width: auto;
	}

	.left-column{
		width:548px;
		height: 100%;
		float:left;		
		-webkit-touch-callout: none;
		-webkit-user-select: none;
	}
	.right-column{
		width:548px;
		height: 100%;
		float:right;				
		-webkit-touch-callout: none;
		-webkit-user-select: none;
	}
	.main-text {		
		text-align: center;
		font-family: arial;
		font-weight: bold;
		font-size: 36px;
		color: rgb(22,22,22);		
	}
	.main-text.right {		
		float:right;					
	}
	.sub-heading{
		font-size: 18px;
		margin-top: 24px;
		height: 20px;
	}
	.btn_friendless {
		float: right;	
		margin-top: -5px;
		margin-left: 25px;
		margin-right:45px;
	}
	.friend-heading-container{
		height:18px;	
	}
	.friend-container {		
		margin-top:25px;
		margin-left: auto;
		margin-right: auto;
		width:320px;
	}
	.friend-picture {				
		max-width:50px;
		margin-left: 5px;
		margin-top: 5px;
		width:50px;
		height:50px;
		border-radius:50px;
		border:2px solid #fff;
		box-shadow: 1px 1px 3px rgba(0,0,0,.5)
	}

	.person-container{
		margin-top:25px;
		overflow-y: scroll;
		height: 500px;
	}
	.person {
		width:494px;
		margin-top: 10px;
		margin-left:40px;		
		border-radius: 25px;		
	}
	.person:hover{
		background-color:#eee;				
	}
	.person:active{
		background-color:#ddd;
	}
	.person:active .person-picture{
		box-shadow:none;
		-webkit-transform: scale(.95);
	}
	.person.selected{
		background-color:#ddd;
	}	
	.person.selected .person-picture{
		box-shadow:none;
	}
	.person-picture {
		float:left;
		max-width:50px;
		width:50px;
		height:50px;
		border-radius:50px;
		border:2px solid #fff;
		box-shadow: 1px 1px 3px rgba(0,0,0,.5)
	}
	.person-name {
		float:left;
		line-height:50px;
		margin-left:20px;
		font-family: arial;
		font-weight: bold;
		font-size: 16px;
		color: rgb(22,22,22) !important;
		text-overflow: ellipsis;
		overflow: hidden;
		width: 302px;
	}
	.btn-confirm{
		margin-top:12px;
		margin-right: 8px;
		float:right;
		-webkit-transform: scale(1);
		-webkit-transition: -webkit-transform .1s linear 0s;
	}
	.show-button{
		-webkit-transform: scale(1);
	}
	.clear {
		clear:both;
	}

	#style-1::-webkit-scrollbar-track
	{
		/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
		border-radius: 10px;
		background-color: #e6e6e6;
	}

	#style-1::-webkit-scrollbar
	{
		width: 10px;
		background-color: #F5F5F5;
	}

	#style-1::-webkit-scrollbar-thumb
	{
		border-radius: 8px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: #161616;
	}
	.vertical-line{
		border-left: solid #e6e6e6;
		height:620px;
		float:right;
	}

</style>

<div class = "homepage-container">
	<div class = "top-right-container">
		<div class="small-logo"></div>
		<a class="homepage-link" href="/logout">
			log out
		</a>
		<a class="homepage-link" href="/logout">
			help
		</a>
		<div class="me">
			<img class="person-picture" src="/user/profilePhoto/<%= accountId %>">
			<div class="person-name">
				<%= email %>
			</div>
			<div class="clear"></div>
		</div>			
	</div>


	<div class="left-column">
		<div class="friend-heading-container">
			<div class="main-text">These are your Friends!</div>
		</div>
		<div class="main-text sub-heading">(You can only add up to seven in beta!)</div>
		<div class="friend-container">
			<% for (var n = 0; n < friends.length; n++) { %>				
					<img class="friend-picture" src="/user/profilePhoto/<%= friends[n]._id %>">
			<% } %>
		</div>
	</div>	

	<div class="right-column">
		<div class="friend-heading-container">			
			<div class="btn btn-inverse btn_custom btn_friendless">Friend not Here?</div>
			<div class="main-text right">Add Friends Here!</div>
		</div>
		
		<div class="main-text sub-heading">All Disco Users (click to add):</div>		

		<div class="person-container" id="style-1">
			<% for (var n = 0; n < accounts.length; n++) { %>
				<div class="person" style="cursor:pointer">
					<img class="person-picture" src="/user/profilePhoto/<%= accounts[n]._id %>">
					<div class="person-name" style="cursor:pointer"><span><%= accounts[n].email %></span></div>
					<div class="btn btn-danger btn-small btn-confirm btn-cancel">Cancel</div>
					<div class="btn btn-success btn-small btn-confirm btn-ok" data-email="<%= accounts[n].email %>">OK!</div>					
					<div class="clear"></div>
				</div>
			<% } %>
		</div>
	</div>

	<div class="vertical-line"></div>


			<!-- <form id="test">
				<input type="email" class="email" placeholder="Friend's email">
				<input type="submit">
			</form> -->

<!-- 
	<h2>Change your picture:</h2>
	<form method="POST" action="/uploadPhoto" enctype="multipart/form-data">
		<input type="file" name="displayImage"></input>
		<input type="submit" value="upload">
	</form> -->
</div>


<!-- Friend adding -->
<script>
	$('.btn-cancel').on('click', function(e) {
		e.preventDefault();

		
	});
</script>

<script>
	$('.btn-ok').on('click', function(e) {
		e.stopPropagation();
		e.preventDefault();
		var email="";

		for (i in e.target.attributes) {
			if (e.target.attributes[i].name == "data-email") {
				var email = e.target.attributes[1].value
			}
		}		

		if (email && email.length) {
			$.post('/add-friend', {email: email}, function(data) {
				if (data.success) {
					window.location.reload();
				} else if (data.reason === 'not-yourself-bro') {
					alert("You can't add yourself, bro");
				} else if (data.reason === 'no-account') {
					alert('Nobody found with that email, bro');
				} else if (data.reason === 'too-many-friends-on-the-dancefloor') {
					alert('You have too many friends, no more, sorry!');
				} else if (data.reason === 'they-are-too-popular') {
					alert('They have too many friends, sorry!');
				} else {
					alert('Something went wrong, bro');
				}
			});
		} else {
			alert('dude... type an email');
		}		
	});
</script>