<style>
	html, html a {
	    -webkit-font-smoothing: antialiased !important;
	}
	.homepage-container {
		margin: auto auto;		
		width: 1100px;
		height: 100%;
	}
	.small-logo {		
		background-image: url("/img/discoSmallLogo.png");				
		background-size:180px;
		background-repeat: none;
		height:63px;
		width:180px;
		float:left;
	}
	.top-right-container{
		width: 1100px; 
		height: 110px;	
		margin-top: 10px;	
	}
	.homepage-link {
		font-size: 18px;
		color: rgb(22,22,22) !important;
		text-decoration:none !important;
		opacity: .4;		
		margin-left: 25px;
		float: right;
		line-height:63px;	
	}
	a:hover {		
		opacity: .9;
	}
	.me {
		float:right;				
		margin-top: auto;
		margin-bottom: auto;
	}
	.me .person-picture {
		width: 30px;
		height: 30px;
		border-radius: 15px;
		margin-top: 16px;
		margin-right:10px;
		/*border: 1px solid #fff;*/
		/*cursor: pointer;*/
		-webkit-transform: scale(1);
		-webkit-transition: -webkit-transform .1s ease-in-out 0s;
	}
	.me .person-picture:hover {
		/*-webkit-transform: scale(1.1);*/
	}
	.me .person-picture:active {
		/*-webkit-transform: scale(.9);*/
	}
	.me .person-name {		
		line-height:63px;
		width: auto;
	}
	
	.left-column{
		width:548px;
		height: 100%;
		float:left;		
		-webkit-touch-callout: none;
		-webkit-user-select: none;
	}
	.right-column{
		width:548px;
		height: 100%;
		float:right;				
		-webkit-touch-callout: none;
		-webkit-user-select: none;
	}
	.main-text {		
		text-align: center;
		font-family: 'Lato', sans-serif;
		font-weight:300;
		font-size: 36px;
		color: rgb(22,22,22);		
	}
	.main-text.right {		
		float:right;					
	}
	.sub-heading{
		font-size: 18px;
		margin-top: 24px;
		height: 20px;
	}
	.btn_friendless {
		float: right;	
		margin-top: -5px;
		margin-left: 25px;
	}
	.btn_friendless.disco-hide{
		-webkit-transform: scale(0);
	}
	.friend-heading-container{
		height:18px;	
	}
	.friend-container {		
		margin-top:25px;
		margin-left: auto;
		margin-right: auto;
		width:320px;
	}
	
	.friend-picture {				
		max-width:50px;
		margin-left: 5px;
		margin-top: 5px;
		width:50px;
		height:50px;
		border-radius:50px;
		box-shadow: 1px 1px 3px rgba(0,0,0,.5);
	}

	.person-container{
		margin-top: 5px;
		overflow-y: scroll;
		height: 370px;
	}
	.person {
		width:495px;
		margin-top: 10px;
		margin-left:40px;		
		border-radius: 25px;		
	}
	.person:hover{
		background-color:#eee;				
	}
	.person:active{
		background-color:#ddd;
	}
	.person:active .person-picture{
		box-shadow:none;
		-webkit-transform: scale(.95);
	}
	.person.selected{
		background-color:#ddd;
	}	
	.person.selected .person-picture{
		box-shadow:none;
	}
	.person-picture {
		float:left;
		max-width:50px;
		width:50px;
		height:50px;
		border-radius:50px;
		/*border:2px solid #fff;*/
		box-shadow: 1px 1px 3px rgba(0,0,0,.5);		
	}
	.person-name {
		float:left;
		line-height:50px;
		margin-left:20px;
		font-size: 16px;
		color: rgb(22,22,22) !important;
		text-overflow: ellipsis;
		overflow: hidden;
		width: 302px;
	}
	.btn-confirm{
		margin-top:12px;
		margin-right: 7px;
		float:right;
		-webkit-transform: scale(0);
		-webkit-transition: -webkit-transform .1s linear 0s !important;
	}
	.show-button{
		-webkit-transform: scale(1);		
	}
	.clear {
		clear:both;
	}

	#style-1::-webkit-scrollbar-track
	{
		border-radius: 10px;
		background-color: #e6e6e6;
	}

	#style-1::-webkit-scrollbar
	{
		width: 10px;
		background-color: #F5F5F5;
	}

	#style-1::-webkit-scrollbar-thumb
	{
		border-radius: 8px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: #161616;
	}
	.vertical-line{
		border-left: solid #e6e6e6;
		height:530px;
		float:right;
	}
	.modal-bg{	
		position: fixed;
		width:100%;
		height: 100%;
		background-color: #FFF;		
		opacity: .8;
		-webkit-transition: opacity .1s linear 0s;
		z-index: 99;
	}
	.modal-bg.disco-hide{
		opacity: 0;
		pointer-events:none;
	}
	.popup{
		position: fixed;
		width:550px;
		height:230px;
		background-color: #161616;
		opacity: .95;
		border-radius: 20px;
		left: calc(50% - 275px);
		top: calc(50% - 200px);
		-webkit-transform: scale(1);
		-webkit-transition: -webkit-transform .1s linear 0s;
		z-index: 999;
	}
	.faq {
		position: fixed;
		width:900px;
		height:365px;
		background-color: #161616;
		opacity: .95;
		border-radius: 20px;
		left: calc(50% - 450px);
		top: calc(50% - 175px);
		-webkit-transform: scale(1);
		-webkit-transition: -webkit-transform .2s linear 0s;
		z-index: 999;
	}

	.popup.disco-hide{
		-webkit-transform: scale(0);
	}
	.faq.disco-hide{
		-webkit-transform: scale(0);
	}
	.popup-text{
		width:400px;
		margin: 35px auto 0px auto;	
		text-align: center;
		font-size: 26px;
		color: rgb(250,250,250);
		line-height: 110%;	
		font-weight:300;
	}

	.faq .popup-text{
		width:800px;
		font-size: 24px;
	}

	.btn-popup {
		display: inline;
		margin-top: 20px;
		margin-right:10px;
		font-weight:normal !important;
	}

	.btn-popup-cancel {
		margin-left: 182px;
		padding-left: 18px !important;
		padding-right: 18px !important;
	}

	.faq .btn-popup {
		margin-left: 409px;
	}

	.faq .faq-nl {
		display: inline-block;
		margin-bottom: 10px;
	}

	.faq .faq-title {
		display: inline-block;
		font-size:23pt; 
		font-weight:400;
		margin-bottom: 35px;
		margin-top: 20px;
	}

	.change-pic{
		position: fixed;
		width:550px;
		height:200px;
		background-color: #161616;
		opacity: .95;
		border-radius: 20px;
		margin-top: -210px;
		margin-left: -275px; /*half div width!*/
		left: 50%;
		top: 50%;
		-webkit-transform: scale(1);
		-webkit-transition: -webkit-transform .1s linear 0s;
		z-index: 999;
	}
	.change-pic.disco-hide{
		-webkit-transform: scale(0);
	}
	.change-pic .popup-text{
		margin: 35px auto 0px auto;	
	}
	.change-pic .popup-text form{
		margin-top: 20px;
		margin-bottom: 4px;
	}
	.btn-custom {
		background-color: hsl(0, 0%, 23%) !important;
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#494949", endColorstr="#3a3a3a");
		background-image: -khtml-gradient(linear, left top, left bottom, from(#494949), to(#3a3a3a));
		background-image: -moz-linear-gradient(top, #494949, #3a3a3a);
		background-image: -ms-linear-gradient(top, #494949, #3a3a3a);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #494949), color-stop(100%, #3a3a3a));
		background-image: -webkit-linear-gradient(top, #494949, #3a3a3a);
		background-image: -o-linear-gradient(top, #494949, #3a3a3a);
		background-image: linear-gradient(#494949, #3a3a3a);
		border-color: #3a3a3a #3a3a3a hsl(0, 0%, 21.5%);
		color: #fff !important;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
		-webkit-font-smoothing: antialiased;
	}
	.btn-custom-3 {
	  background-color: hsl(34, 93%, 36%) !important;
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f79c26", endColorstr="#b16706");
	  background-image: -khtml-gradient(linear, left top, left bottom, from(#f79c26), to(#b16706));
	  background-image: -moz-linear-gradient(top, #f79c26, #b16706);
	  background-image: -ms-linear-gradient(top, #f79c26, #b16706);
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f79c26), color-stop(100%, #b16706));
	  background-image: -webkit-linear-gradient(top, #f79c26, #b16706);
	  background-image: -o-linear-gradient(top, #f79c26, #b16706);
	  background-image: linear-gradient(#f79c26, #b16706);
	  border-color: #b16706 #b16706 hsl(34, 93%, 31%);
	  color: #fff !important;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	  -webkit-font-smoothing: antialiased;
	}
	/* line 25, ../scss/partials/_buttons.scss */
	.disco-button-homepage {
	  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	  background-color: #eeeeee;
	  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
	  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
	  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
	  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
	  background: linear-gradient(top, #fbfbfb, #e1e1e1);
	  display: -moz-inline-stack;
	  display: inline-block;
	  vertical-align: middle;
	  *vertical-align: auto;
	  zoom: 1;
	  *display: inline;
	  border: 1px solid #d4d4d4;
	  height: 32px;
	  line-height: 32px;
	  padding: 0px 25.6px;
	  font-weight: 300;
	  font-size: 14px;
	  color: #666666;
	  text-shadow: 0 1px 1px white;	  
	  text-decoration: none;
	  text-align: center;
	}

	.btn-custom-2 {
		background-color: hsl(29, 100%, 46%) !important;
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7b00", endColorstr="#ea7100");
		background-image: -khtml-gradient(linear, left top, left bottom, from(#ff7b00), to(#ea7100));
		background-image: -moz-linear-gradient(top, #ff7b00, #ea7100);
		background-image: -ms-linear-gradient(top, #ff7b00, #ea7100);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff7b00), color-stop(100%, #ea7100));
		background-image: -webkit-linear-gradient(top, #ff7b00, #ea7100);
		background-image: -o-linear-gradient(top, #ff7b00, #ea7100);
		background-image: linear-gradient(#ff7b00, #ea7100);
		border-color: #ea7100 #ea7100 hsl(29, 100%, 45%);
		color: #fff !important;
		font-weight: normal !important;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
		-webkit-font-smoothing: antialiased;
	}

	/* line 43, ../scss/partials/_buttons.scss */
	.disco-button-homepage:hover {
	  background-color: #eeeeee;
	  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
	  background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
	  background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
	  background: -o-linear-gradient(top, #ffffff, #dcdcdc);
	  background: linear-gradient(top, #ffffff, #dcdcdc);  
	}
	/* line 47, ../scss/partials/_buttons.scss */
	.disco-button-homepage:active {
	  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
	  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
	  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
	  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
	  background: #eeeeee;
	  color: #bbbbbb;  
	}
	/* line 53, ../scss/partials/_buttons.scss */
	.disco-button-homepage:focus {
	  outline: none;
	}	
	/* line 135, ../scss/partials/_buttons.scss */
	.disco-button-homepage-highlight {
	  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fa9915), color-stop(100%, #d87e04));
	  background: -webkit-linear-gradient(top, #fa9915, #d87e04);
	  background: -moz-linear-gradient(top, #fa9915, #d87e04);
	  background: -o-linear-gradient(top, #fa9915, #d87e04);
	  background: linear-gradient(top, #fa9915, #d87e04);
	  background-color: #f18d05;
	  border-color: #bf7004;
	  color: white;
	  text-shadow: 0 -1px 1px rgba(91, 53, 2, 0.35);
	}
	/* line 142, ../scss/partials/_buttons.scss */
	.disco-button-homepage-highlight:hover {
	  background-color: #f18d05;
	  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fba42e), color-stop(100%, #d87e04));
	  background: -webkit-linear-gradient(top, #fba42e, #d87e04);
	  background: -moz-linear-gradient(top, #fba42e, #d87e04);
	  background: -o-linear-gradient(top, #fba42e, #d87e04);
	  background: linear-gradient(top, #fba42e, #d87e04);  
	}
	/* line 146, ../scss/partials/_buttons.scss */
	.disco-button-homepage-highlight:active {
	  background: #d8891e;
	  color: #8d5303;  
	}
	.secret {
		-webkit-animation: secretAni 3s linear;
	}
	@-webkit-keyframes secretAni{
		0% {
			-webkit-transform: rotate(0);
			margin-left: 5px;		
		}
		4% {
			-webkit-transform: rotate(-15deg);
			margin-left: 5px;		
		}
		19% {
			-webkit-transform: rotate(360deg);
			margin-left: 9px;			
		}		
		35% {
			-webkit-transform: rotate(720deg);
			margin-left: 13px;			
		}
		51% {
			-webkit-transform: rotate(1080deg);
			margin-left: 17px;			
		}
		67% {
			-webkit-transform: rotate(720deg);
			margin-left: 13px;			
		}
		83% {
			-webkit-transform: rotate(360deg);
			margin-left: 9px;			
		}
		100% {
			-webkit-transform: rotate(0deg);
			margin-left: 5px;			
		}
	}

	.vanity-wrapper {
		float:left;
		margin-top:26px;
		margin-left:0;
		font-size:13pt;
		font-weight:300;
		font-weight:300;
		line-height:18px;		
		color:#666;
		opacity: 1;
		min-width:250px;
		-webkit-animation: fadeIn 2.8s linear 0s;
	}

	.vanity-line {
	}
	.vanity-caption {
		display:inline-block;
		width:159px;
		text-align: right;
		margin-right: 10px;
	}
	.vanity-days, .activity-count {
		-webkit-transition: color 0.3s ease-in-out;
		font-weight: 400;
		display: inline-block;
		min-width:137px;
		float:right;
		clear:none;
	}

	@-webkit-keyframes fadeIn {
		0%{opacity:0;}
		50%{opacity:0;}
		100%{opacity:1;}
	}

	.search-field{
		text-align: center;
		margin-top: 36px;
	}

	.search-field-input{
		width:230px;
	}

	.faq-link {
		cursor: pointer;
	}

	.popup-1st {
		display: inline-block;
		font-size: 29px;

		margin-bottom: 22px;
	}

	.popup-email-input {
		display: inline-block;
		margin-bottom: -11px !important;
	}

	.popup-email-input input {
		width:245px !important;
	}

	.popup-2nd {
		display: block;
		font-size: 10pt;

	}

	.popup-3rd {
		font-size: 10pt;
	}

</style>

<div class="modal-bg disco-hide"></div>

<div class="popup disco-hide">
	<div class="popup-text add-friends">
		<span class='popup-1st'> Invite a friend to signup:</span>
		<div class="popup-email-input"><input placeholder="Enter Friend's Email" type="text" name="friends_email"></div>
		<span class='popup-2nd'> or tell them to visit: <strong> <%= serviceUrl %> </strong>  </span>
		<!-- <span class = 'popup-3rd'> </span> -->
		
	</div>
	<div class="btn btn-large disco-button-homepage btn-popup-cancel btn-popup">Cancel</div>
	<div class="btn btn-large disco-button-homepage disco-button-homepage-highlight btn-popup" onclick="inviteDisUser();">Invite</div>
</div>

<div class="faq disco-hide">
	<div class="popup-text add-friends">
		<span>
			<span class='faq-title'>Disco is for sharing and talking with your friends!</span>
			<span class='faq-nl'>You can make a group IM chat on any webpage, which is shared instantly</span>
			<span class='faq-nl'>As you browse, just <a style="text-decoration:none; color:#FFF;" href="http://imgur.com/1fxX95j" target="_blank"><strong>click and hold</strong></a> your mouse down on a page to share</span>
			<span class='faq-nl'>Add your friends on this page, or invite them to sign up</span>
			<span class='faq-nl'><a style="text-decoration:none; color:#FFF;" href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Ftwitter.com%2Fabout%2Fresources%2Fbuttons&related=DiscoBeta&screen_name=DiscoBeta&text=Help!&tw_p=tweetbutton" target="_blank">Contact us</a> with any questions or feedback, we love you! <3</span>
		</span>
	</div>
	<div class="btn btn-large disco-button-homepage disco-button-homepage-highlight btn-popup">Close</div>
</div>

<div class="change-pic disco-hide">
	<div class="popup-text">
		<span>
			Change to a prettier picture?
		</span>
		<form method="POST" action="/uploadPhoto" enctype="multipart/form-data">
			<input type="file" name="displayImage"></input>
			<input type="submit" class="btn btn-inverse btn_custom" value="Update!">
		</form>
	</div>
	<div class="btn btn-large disco-button-homepage disco-button-homepage-highlight btn-popup">Close</div>
</div>

<div class = "homepage-container">
	<div class = "top-right-container">
		<div class="small-logo"></div>
		<div class="vanity-wrapper">
			<div class="vanity-line"><div class="vanity-caption">days in beta: </div><span class="vanity-days"></span></div>
			<div class="vanity-line"><div class="vanity-caption">messages sent: </div><span class="activity-count"></span></div>
		</div>
		<a class="homepage-link" href="/logout">
			log out
		</a>
		<a class="homepage-link faq-link">
			FAQ
		</a>
		<a class="homepage-link" href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Ftwitter.com%2Fabout%2Fresources%2Fbuttons&related=DiscoBeta&screen_name=DiscoBeta&text=Help!&tw_p=tweetbutton" target="_blank">
			contact
		</a>
		<div class="me">
			<img class="person-picture" src="/user/profilePhoto/<%= accountId %>">
			<div class="person-name">				
				<%= email %>
			</div>
			<div class="clear"></div>
		</div>			
	</div>


	<div class="left-column">
		<div class="friend-heading-container">
			<div class="main-text">These are your Friends!</div>
		</div>
		<div class="main-text sub-heading">(You can only add up to seven in beta!)</div>
		<div class="friend-container">
		</div>
	</div>	

	<div class="right-column">
		<div class="friend-heading-container">			
			<div class="btn btn-inverse btn-custom-2 btn_friendless disco-hide">Invite Friends to Disco!</div>
			<div class="main-text right">Add Friends Here!</div>
		</div>
		
		<div class="main-text sub-heading">Some people you might know (click to add):</div>		
		<div class="search-field"><input type="text" class="search-field-input" placeholder="Search by name or email"></input></div>
		<div class="person-container" id="style-1">
			<% for (var n = 0; n < accounts.length; n++) { %>
				<div class="person" data-accountid="<%=accounts[n]._id%>" data-name="<%=(accounts[n].firstName)?(accounts[n].firstName + ' ' + accounts[n].lastName):accounts[n].email %>" style="cursor:pointer;">	
					<img class="person-picture" src="/user/profilePhoto/<%= accounts[n]._id %>">
					<div class="person-name" style="cursor:pointer"><span><%= accounts[n].displayName %></span></div>
					<div class="btn btn-danger btn-small btn-confirm btn-cancel">Cancel</div>
					<div class="btn btn-success btn-small btn-confirm btn-ok" data-email="<%= accounts[n].email %>">Add</div>										
					<div class="clear"></div>
				</div>
			<% } %>
		</div>
	</div>
	<div class="vertical-line"></div>
</div>

<script src="/js/AccountSearch.js"></script>

<script>

	$.get('/get-friends', function(data) {
		if (data && data.friends) {
			for(var n = 0; n < data.friends.length; n++) {
				renderFriend(data.friends[n]);
			}
		}
	});

	var renderFriend = function(friendObj) {
		var friend = $('<img class="friend-picture">');
		friend.prop('src', '/user/profilePhoto/' + friendObj._id);
		$('.friend-container').append(friend);
	};

	/** Account search **/
	var accounts = <%- JSON.stringify(accounts) %>;
	var accountSearcher = new AccountSearch(accounts);
	var applySearchResults = function (list) {
		$('.person-container .person').hide();
		list = list.splice(0, 10);
		async.forEach(list, function (account, next) {
			var parent = account._el.parentElement;
			parent.removeChild(account._el);
			parent.appendChild(account._el);
			$(account._el).show();
		});
	}
	var searchTimeout;
	var looker = function (ev) {
		var self = this;
		if (searchTimeout) {
			clearTimeout(searchTimeout);
		}
		searchTimeout = setTimeout(function () {
			if ($(self).val().trim() != "") {
				accountSearcher.search($(self).val(), applySearchResults);
			} else {
				async.forEach(accountSearcher.accounts.splice(0,10), function (account, next) {
					if (account._el.parentElement) {
						account._el.parentElement.removeChild(account._el);
					}
					$('.person-container').append(account._el);
					$(account._el).show();
				});
			}
			$('.person-container').scrollTop(0);
		}, 300);
	}
	$('.search-field-input').on('textInput', looker);
	$('.search-field-input').keypress(looker).keyup(function (ev) {
		if (ev.keyCode == 8 || ev.ctrlKey || ev.altKey || ev.shiftKey || ev.metaKey) {
			looker.call(this, ev);
		}
	});
</script>

<!-- Friend adding -->
<script>
	$('body').on('click', '.btn-cancel', function(e) {
		e.stopPropagation();
		e.preventDefault();

		$(this).parent().children(".btn-ok").removeClass('show-button');			
		$(this).removeClass('show-button');	
	});
</script>

<script>
	$('body').on('click', '.person', function(e) {
		e.preventDefault();
		$(this).parent().find(".btn-ok").removeClass('show-button');
		$(this).parent().find(".btn-cancel").removeClass('show-button');
		$(this).children(".btn-ok").addClass('show-button');			
		$(this).children(".btn-cancel").addClass('show-button');			
	});
</script>


<script>
	$('.faq-link').on('click', function(e) {
		$('.faq').removeClass('disco-hide');
		$(this).parent().parent().parent().parent().find(".modal-bg").removeClass("disco-hide");
	});
</script>

<script>
	function inviteDisUser() {
		var inviteEmail = $('.popup-email-input input').val();
		$('.popup-email-input input').val(''); //Clear dat bitch
	}

</script>


<script>
	$('body').on('click', '.btn-ok', function(e) {
		e.stopPropagation();
		e.preventDefault();
		var email="";

		for (i in e.target.attributes) {
			if (e.target.attributes[i].name == "data-email") {
				var email = e.target.attributes[1].value
			}
		}		
		var friendObj = {
			_id : $(this).closest('.person').data('accountid'),
			name : $(this).closest('.person').data('name')
		};
		var personElement = $(this).closest('.person')[0];
		var self = this;
		if (email && email.length) {
			$.post('/add-friend', {email: email}, function(data) {
				if (data.success) {
					renderFriend(friendObj);
					$(self).closest('.person').remove();
					accountSearcher.remove(personElement);
				} else if (data.reason === 'not-yourself-bro') {
					alert("You can't add yourself, bro");
				} else if (data.reason === 'no-account') {
					alert('Nobody found with that email, bro');
				} else if (data.reason === 'too-many-friends-on-the-dancefloor') {
					alert('You have too many friends, no more, sorry!');
				} else if (data.reason === 'they-are-too-popular') {
					alert('They have too many friends, sorry!');
				} else {
					alert('Something went wrong, bro');
				}
			});
		} else {
			alert('dude... type an email');
		}		
	});
</script>

<!-- modal stuff -->
<script>
	$('.btn_friendless').on('click', function(e) {
		e.stopPropagation();
		e.preventDefault();		

		$(this).parent().parent().parent().parent().find(".modal-bg").removeClass("disco-hide");
		$(this).parent().parent().parent().parent().find(".popup").removeClass("disco-hide");
	});
</script>
<script>
	$('.popup-email-input input').keydown(function (e){
	    if(e.keyCode == 13){
	        inviteDisUser();
	    });
</script>

<script>
	$('.btn-popup').on('click', function(e) {
		e.stopPropagation();
		e.preventDefault();		

		$(this).parent().addClass("disco-hide");
		$(this).parent().parent().find(".modal-bg").addClass("disco-hide");
	});
</script>
<script>
	$('.modal-bg').on('click', function(e) {
		e.stopPropagation();
		e.preventDefault();		

		$(this).addClass("disco-hide");
		$(this).parent().find(".popup").addClass("disco-hide");
		$(this).parent().find(".faq").addClass("disco-hide");
		$(this).parent().find(".change-pic").addClass("disco-hide");
	});
</script>


<!-- shh -->
<script>
	$('.small-logo').on('click', function(e) {
		e.preventDefault();		
		$(this).parent().parent().find(".friend-picture").addClass('secret');							
	});
</script>